.about {
  padding-bottom: 94px;
}
.about-list {
  display: flex;
}

.about-list__item:not(:last-child) {
  margin-right: 30px;
}
.about-list__item {
  width: 270px;
}
.about-list__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
  margin-bottom: 10px;
}
.about-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.about-list__svg {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
  cursor: pointer;
}
.about-list__item:not(:last-child) {
  margin-right: 30px;
}
