.company-box {
  padding-top: 92px;
  padding-bottom: 96px;
}
.company__title {
  display: block;
  font-weight: 700;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--header-color);
}
.company-list {
  display: flex;
  justify-content: center;
}
.company-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms, border-radius 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    fill: #2196f3;
    border: 1px solid #2196f3;
    transition: fill 250ms;
  }
  &:focus svg {
    fill: #2196f3;
  }
  &:focus {
    border: 1px solid #2196f3;
  }
}
.company-list__item {
  width: 170px;
  height: 92px;
}

.company-list__item:not(:last-child) {
  margin-right: 30px;
}
