.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;

  .container {
    max-width: 1200px;
    display: flex;
    align-items: center;
  }
}
.heder__logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  // margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 93px;
  }
}

.logo__web {
  color: #2196f3;
}
.logo__studio {
  color: #000000;
}

.menu-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    position: relative;
    height: 100%;
  }
}
.menu-list__item {
  margin-right: 50px;
}

.contacts-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: relative;
    height: 100%;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }
}
.mail .contacts__icon {
  fill: #757575;
  margin-right: 10px;
  @media screen and (min-width: 768px) {
    width: 14px;
    height: 10px;
  }
  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}
.phone .contacts__icon {
  fill: #757575;
  margin-right: 10px;
  @media screen and (min-width: 768px) {
    width: 10px;
    height: 14px;
  }
  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 16px;
  }
}
.menu__link {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 28px;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--header-link-color);
  }
  &:focus {
    color: var(--header-link-color);
  }
}
.menu-list__item {
  position: relative;
  height: 100%;
}
.link__line {
  position: absolute;
  height: 2px;
  width: 100%;
  top: 46px;
  border: 2px solid #2196f3;
  background-color: #2196f3;
  border-radius: 2px;
}
.mail {
  @media screen and (min-width: 768px) {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color 250ms, fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }

  &:focus .contacts__icon {
    fill: #2196f3;
  }
  &:focus {
    color: #2196f3;
  }
}
.contacts-list__link {
  transition: color 250ms, fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    // display: flex;
    padding-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    // display: block;
    padding-right: 30px;
  }
  &:hover .mail {
    color: #2196f3;
  }
  &:hover .contacts__icon {
    fill: #2196f3;
  }
  &:hover .phone {
    color: #2196f3;
  }
  &:focus .phone {
    color: #2196f3;
  }
}
.phone {
  @media screen and (min-width: 768px) {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color 250ms, fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }

  &:focus .contacts__icon {
    fill: #2196f3;
  }
  &:focus {
    color: #2196f3;
  }
}
